.progettievidenza
  .progettievidenza__title
    h2 progetti in evidenza
  .progettievidenza__project
    .progettievidenza__project__item
      figure 
        img(src="./images/img.png", alt="")
        
      .description__progetti
        .description__title__progetti
          span Lorem, ipsum dolor.
        .description__text__progetti
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error natus maxime perspiciatis commodi quos quae?
    .progettievidenza__project__item
      figure 
        img(src="./images/img.png", alt="")
        
      .description__progetti
        .description__title__progetti
          span Lorem, ipsum dolor.
        .description__text__progetti
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error natus maxime perspiciatis commodi quos quae?          
    .progettievidenza__project__item
      figure 
        img(src="./images/img.png", alt="")
        
      .description__progetti
        .description__title__progetti
          span Lorem, ipsum dolor.
        .description__text__progetti
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error natus maxime perspiciatis commodi quos quae?