.empresas
  .empresas__title 
    h2 progetti in evidenza 

  .empresas__logo__container
    
    .empresas__logo
      .empresas__logo__title 
        h3 milano

      .empresas__logo__image
        figure 
          img(src="./images/img.png", alt="")
      a.empresas__logo__item__button 
        p visualizza


    .empresas__logo
      .empresas__logo__title 
        h3 milano
        
      .empresas__logo__image
        figure 
          img(src="./images/img.png", alt="")
      a.empresas__logo__item__button 
        p visualizza

    .empresas__logo
      .empresas__logo__title 
        h3 milano
        
      .empresas__logo__image
        figure 
          img(src="./images/img.png", alt="")
      a.empresas__logo__item__button 
        p visualizza
