.description
  .description__image
    figure  
      img(src="./images/description.png", alt="")

  .description__text 
    p Le Aziende che smaltiscono con Borsinorifiuti ogni volta che effettuano una vendita dei propri rifiuti riciclabili possono, con i denari ricavati dalla vendita, Sponsorizzare un progetto solidale pubblicato da una Onlus o da un’Associazione no profit.
    p I Progetti solidali sono inseriti e avviati tramite campagne territoriali patrocinate dai Comuni o noti Brand Nazionali. Tutti gli utenti di Borsinorifiuti hanno la facoltà di votare il progetto inserito nelle campagne patrocinate ricevendo in questo modo sconti e ritorno di denaro (cashback) per ogni acquisto effettuato presso le aziende Sponsor del territorio.
