.footer
  .footer__copy 
    p © Copyright 2017 Differenziamo col Cuore. All rights reserved.
  .footer__item
    a(href="#").footer__item__social 
      i.fa.fa-facebook-f
    a(href="#").footer__item__social 
      i.fa.fa-instagram
    a(href="#").footer__item__social 
      i.fa.fa-twitter
    a(href="#").footer__item__social 
      i.fa.fa-youtube-play
