.footer
  .footer__copy 
    p © Copyright 2017 Differenziamo col Cuore. All rights reserved.
  .footer__item
    .footer__item__social 
      i.fa.fa-facebook-f
    .footer__item__social 
      i.fa.fa-instagram
    .footer__item__social 
      i.fa.fa-twitter
    .footer__item__social 
      i.fa.fa-youtube-play
