.contadores
  .contadores__title
    h2 La circolarità di Borsinorifiuti abbraccia la sostenibilità territoriale
  .contadores__container

    .contadores__container__item
     span.contadores__container__item__title Progetti di Onlus e...
     p.contadores__container__item__num 15
      
    .contadores__container__item
     span.contadores__container__item__title Sponsor Sotenitori
     p.contadores__container__item__num 130      
    .contadores__container__item
     span.contadores__container__item__title Distribuiti
     p.contadores__container__item__num.amarillo €2500

    .contadores__container__item
     span.contadores__container__item__title Comini Sostenitori
     p.contadores__container__item__num 5     

    .contadores__container__item
     span.contadores__container__item__title Brand Sostenitori
     p.contadores__container__item__num 6
