.header__container
  .header__text
    h2.header__text__title Financiamiento progeti sociali del Comune
    p.header__text__parrafo Un attività commerciale che espone questo marchio sulla propria porta di ingresso partecipa all iniziativa di Borsinorifiuti che in associazione con il proprio comune sostiene economicamente lo sviluppo di 4 progetti solidali richiesti dal territorio.