.cercacomini
  .cercacomini__title
    h2 Cerca comini per:

  .cercacomini__form
    form
      .item 
         
        input(type="text", placeholder="Scegli a citta")
      .item 
        input(type="text", placeholder="Digita il CAP")
        
      .item 
        
        input(type="text", placeholder="Dogita il regione")
      .button
        button  cerca

  .cercacomini__text
    p Non trovi il tuo comune? Invitalo a registrarsi