.mapsproyect
  .mapsproyect__title 
    h2 progetti in evidenzaa

  .mapsproyect__maps__container
    
    .mapsproyect__maps

      .mapsproyect__maps__image
        figure 
          img(src="./images/img.png", alt="")
      a.mapsproyect__maps__item__button 
        p visualizza


    .mapsproyect__maps
      .mapsproyect__maps__image
        figure 
          img(src="./images/img.png", alt="")
      a.mapsproyect__maps__item__button 
        p visualizza

    .mapsproyect__maps        
      .mapsproyect__maps__image
        figure 
          img(src="./images/img.png", alt="")
      a.mapsproyect__maps__item__button 
        p visualizza
